<%= form_for(@employer) do |f| %>
  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
      <% @employer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <table>
      <tr>
        <th>Employee</th>
        <th>User</th>
        <th>Manager</th>
      </tr>
      <% @all_users.each do |user| %>
        <% users = @employer.employees.map{|e| e.user} %>
        <tr>
          <td><%= check_box_tag "employer[employees][#{user.id}][included]", 1, users.include?(user) %></td>
          <td><%= user.login %></td>
          <td><%= check_box_tag "employer[employees][#{user.id}][manager]", 1, users.include?(user) ? @employer.employees.map{|e| e.user == user ? e : nil}.compact.first.is_manager? : false %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
