<h1>Reports</h1>

<%= form_tag(reports_path) do %>
    <div class="field box">
      favorite report:
      <%= select_tag 'id',
        options_from_collection_for_select(@favorites, :id, :name, @favorite.id),
        :prompt => '- select favorite -' %>
      <%= submit_tag "Load", :name => 'load' %>
      <%= submit_tag "Delete", :name => 'delete' %>
    </div>

    <table id="report-config">
      <tr><th colspan="5"><%= label_tag 'Select project' %></th></tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_projects.each do |project| %>
                <td>
                  <%= check_box_tag "report[project_ids][#{project.id}]", 1, @favorite.project_ids.split(/,/).include?(project.id.to_s) || !@favorite.id %>
                  <%= label_tag "report[project_ids][#{project.id}]", project.name %>
                </td>
                <% i += 1 %>
                <% if i % 4 == 0 %>
                  </tr><tr>
                <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
            </tr>
          </table>
        </td>
      </tr>
      <tr><th colspan="5"><%= label_tag 'Select task' %></th></tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_tasks.each do |task| %>
                  <td>
                    <%= check_box_tag "report[task_ids][#{task.id}]", 1, @favorite.task_ids.split(/,/).include?(task.id.to_s) || !@favorite.id %>
                    <%= label_tag "report[task_ids][#{task.id}]", task.name %>
                  </td>
                  <% i += 1 %>
                  <% if i % 4 == 0 %>
                      </tr><tr>
                  <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
            </tr>
          </table>
        </td>
      </tr>
      <tr><th colspan="5"><%= label_tag 'Select users' %></th></tr>
      <!--<tr>-->
        <!--<td colspan="5">-->
          <!--<%= link_to_function 'Select all', 'setAllUsers(true)' %> / -->
          <!--<%= link_to_function 'Deselect all', 'setAllUsers(false)' %>-->
        <!--</td>-->
      <!--</tr>-->
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_users.each do |user| %>
                  <td>
                    <%= check_box_tag "report[user_ids][#{user.id}]", 1, @favorite.user_ids.split(/,/).include?(user.id.to_s) || !@favorite.id %>
                    <%= label_tag "report[user_ids][#{user.id}]", user.login %>
                  </td>
                  <% i += 1 %>
                  <% if i % 4 == 0 %>
                      </tr><tr>
                  <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
              </tr>
              </table>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= label_tag 'report[time_period]', 'Select time period ...' %></th>
        <td class="separator">&nbsp;</td>
        <th colspan="2"><%= label_tag '... or set dates' %></th>
      </tr>
      <tr>
        <td colspan="2">
          <%= select_tag 'report[time_period]',
                options_for_select(Report::TIME_PERIODS.map{|k,v| [v,k]}, @favorite.time_period),
                :prompt => '- select time period -'%>
        </td>
        <td class="separator">&nbsp;</td>
        <td class="name"><%= label_tag 'report[start]', 'Start date' %>:</td>
        <td class="date">
          <%= date_select 'report', 'start',
                :order  => [:day, :month, :year],
                :include_blank => @favorite.start,
                :prompt => @favorite.start ? nil : '-',
                :selected  => @favorite.start %>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td class="separator">&nbsp;</td>
        <td class="name"><%= label_tag 'report[end]', 'End date' %>:</td>
        <td class="date">
          <%= date_select 'report', 'end',
                  :order  => [:day, :month, :year],
                  :include_blank => @favorite.end,
                  :prompt => @favorite.end ? nil : '-',
                  :selected  => @favorite.end %>
        </td>
      </tr>
      <tr>
        <th colspan="5"><%= label_tag 'Show fields' %></th>
      </tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <td>
                <%= check_box_tag 'report[fields][user]', 1,  @favorite.fields.split(/,/).include?('user') || !@favorite.id %>
                <%= label_tag 'report[fields][user]', 'user' %>
              </td>
              <td>
                <%= check_box_tag 'report[fields][start]', 1, @favorite.fields.split(/,/).include?('start') || !@favorite.id %>
                <%= label_tag 'report[fields][start]', 'start' %>
              </td>
              <td>
                <%= check_box_tag 'report[fields][description]', 1, @favorite.fields.split(/,/).include?('description') || !@favorite.id %>
                <%= label_tag 'report[fields][description]', 'description' %>
              </td>
              <td>
                <%= check_box_tag 'report[fields][todo]', 1, @favorite.fields.split(/,/).include?('todo') || !@favorite.id %>
                <%= label_tag 'report[fields][todo]', 'hours to do' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= check_box_tag 'report[fields][team]', 1,  @favorite.fields.split(/,/).include?('team') || !@favorite.id %>
                <%= label_tag 'report[fields][team]', 'team' %>
              </td>
              <td>
                <%= check_box_tag 'report[fields][finish]', 1, @favorite.fields.split(/,/).include?('finish') || !@favorite.id %>
                <%= label_tag 'report[fields][finish]', 'finish' %>
              </td>
              <!--<td>-->
                <!--<%= check_box_tag 'report[fields][billable]', 1, @favorite.fields.split(/,/).include?('billable') || !@favorite.id %>-->
                <!--<%= label_tag 'report[fields][billable]', 'billable' %>-->
              <!--</td>-->
              <td>&nbsp;</td>
              <td>
                <%= check_box_tag 'report[fields][remaining]', 1, @favorite.fields.split(/,/).include?('remaining') || !@favorite.id %>
                <%= label_tag 'report[fields][remaining]', 'remaining time' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= check_box_tag 'report[fields][project]', 1, @favorite.fields.split(/,/).include?('project') || !@favorite.id %>
                <%= label_tag 'report[fields][project]', 'project' %>
              </td>
              <td>
                <%= check_box_tag 'report[fields][duration]', 1, @favorite.fields.split(/,/).include?('duration') || !@favorite.id %>
                <%= label_tag 'report[fields][duration]', 'duration' %>
              </td>
              <!--<td>-->
                <!--<%= check_box_tag 'report[fields][idle]', 1, @favorite.fields.split(/,/).include?('idle') || !@favorite.id %>-->
                <!--<%= label_tag 'report[fields][idle]', 'idle' %>-->
              <!--</td>-->
              <td>&nbsp;</td>
              <td>
                <%= check_box_tag 'report[fields][overtime]', 1, @favorite.fields.split(/,/).include?('overtime') || !@favorite.id %>
                <%= label_tag 'report[fields][overtime]', 'overtime' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= check_box_tag 'report[fields][task]', 1, @favorite.fields.split(/,/).include?('task') || !@favorite.id %>
                <%= label_tag 'report[fields][task]', 'task' %>
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= label_tag 'report[group_by]', 'Group by' %></th>
        <td class="separator">&nbsp;</td>
        <th colspan="2"><%= label_tag 'report[group_per]', 'Group per' %></th>
      </tr>
      <tr>
        <td colspan="2">
          <%= select_tag 'report[group_by]',
                options_for_select(Report::GROUPING_BY.map{|k,v| [v, k]}, @favorite.group_by),
                :prompt => '- no grouping -'%>
        </td>
        <td class="separator">&nbsp;</td>
        <td colspan="2">
          <%= select_tag 'report[group_per]',
                options_for_select(Report::GROUPING_PER.map{|k,v| [v, k]}, @favorite.group_per),
                :prompt => '- no grouping -'%>
        </td>
      </tr>
    </table>

    <div class="field box">
      save as favorite:
      <%= text_field_tag 'report[name]', @favorite.name %>
      <% unless @favorite.id %>
         <%= submit_tag "Save", :name => 'create' %>
      <% else %>
         <%= submit_tag "Create", :name => 'create' %>
         <%= submit_tag "Update", :name => 'update' %>
      <% end %>
    </div>

    <div class="actions">
      <%= submit_tag "Generate", :name => 'generate' %>
    </div>
<% end %>