<h1>Reports</h1>

<%= form_tag(reports_path) do %>
    <div class="field box">
      favorite report:
      <%= select_tag 'report[load_favorite]' %>
      <%= submit_tag "Generate" %>
      <%= submit_tag "Delete" %>
    </div>
<% end %>

<%= form_tag(reports_path) do %>
    <table id="report-config">
      <tr><th colspan="5"><%= label_tag 'Select project' %></th></tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_projects.each do |project| %>
                <td>
                  <%= check_box_tag "report[project_ids][#{project.id}]", 1, true %>
                  <%= label_tag "report[project_ids][#{project.id}]", project.name %>
                </td>
                <% i += 1 %>
                <% if i % 4 == 0 %>
                  </tr><tr>
                <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
            </tr>
          </table>
        </td>
      </tr>
      <tr><th colspan="5"><%= label_tag 'Select task' %></th></tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_tasks.each do |task| %>
                  <td>
                    <%= check_box_tag "report[task_ids][#{task.id}]", 1, true %>
                    <%= label_tag "report[task_ids][#{task.id}]", task.name %>
                  </td>
                  <% i += 1 %>
                  <% if i % 4 == 0 %>
                      </tr><tr>
                  <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
            </tr>
          </table>
        </td>
      </tr>
      <tr><th colspan="5"><%= label_tag 'Select users' %></th></tr>
      <!--<tr>-->
        <!--<td colspan="5">-->
          <!--<%= link_to_function 'Select all', 'setAllUsers(true)' %> / -->
          <!--<%= link_to_function 'Deselect all', 'setAllUsers(false)' %>-->
        <!--</td>-->
      <!--</tr>-->
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <% i=0 %>
              <% get_available_users.each do |user| %>
                  <td>
                    <%= check_box_tag "report[user_ids][#{user.id}]", 1, true %>
                    <%= label_tag "report[user_ids][#{user.id}]", user.login %>
                  </td>
                  <% i += 1 %>
                  <% if i % 4 == 0 %>
                      </tr><tr>
                  <% end %>
              <% end %>
              <%= (1..(i % 4)).map{|i| content_tag(:td, "&nbsp;".html_safe)}.join.html_safe %>
              </tr>
              </table>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= label_tag 'report[time_period]', 'Select time period ...' %></th>
        <td class="separator">&nbsp;</td>
        <th colspan="2"><%= label_tag '... or set dates' %></th>
      </tr>
      <tr>
        <td colspan="2">
          <%= select_tag 'report[time_period]', options_for_select([
                ['- select time period -', ''],
                ['this month', 'this_month'],
                ['last month', 'last_month'],
                ['this week', 'this_week'],
                ['last week', 'last_week']])%>
        </td>
        <td class="separator">&nbsp;</td>
        <td class="name"><%= label_tag 'report[start_date]', 'Start date' %>:</td>
        <td class="date">
          <%= date_select 'range', 'report[start_date]',
                :order  => [:day, :month, :year],
                :prompt => '-' %>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td class="separator">&nbsp;</td>
        <td class="name"><%= label_tag 'report[end_date]', 'End date' %>:</td>
        <td class="date">
          <%= date_select 'range', 'report[end_date]',
                  :order  => [:day, :month, :year],
                  :prompt => '-' %>
        </td>
      </tr>
      <tr>
        <th colspan="5"><%= label_tag 'Show fields' %></th>
      </tr>
      <tr>
        <td colspan="5">
          <table>
            <tr>
              <td>
                <%= check_box_tag 'report[show_team]', 1, true %>
                <%= label_tag 'report[]', 'team' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_start]', 1, true %>
                <%= label_tag 'report[]', 'start' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_description]', 1, true %>
                <%= label_tag 'report[]', 'description' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_idle]', 1, true %>
                <%= label_tag 'report[]', 'idle' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= check_box_tag 'report[show_project]', 1, true %>
                <%= label_tag 'report[]', 'project' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_finish]', 1, true %>
                <%= label_tag 'report[]', 'finish' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_billable]', 1, true %>
                <%= label_tag 'report[]', 'billable' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_remaining]', 1, true %>
                <%= label_tag 'report[]', 'remaining time' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= check_box_tag 'report[show_task]', 1, true %>
                <%= label_tag 'report[]', 'task' %>
              </td>
              <td>
                <%= check_box_tag 'report[show_duration]', 1, true %>
                <%= label_tag 'report[]', 'duration' %>
              </td>
              <td>&nbsp;</td>
              <td>
                <%= check_box_tag 'report[show_overtime]', 1, true %>
                <%= label_tag 'report[]', 'overtime' %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= label_tag 'report[group_by]', 'Group by' %></th>
        <td class="separator">&nbsp;</td>
        <th colspan="2"><%= label_tag 'report[group_per]', 'Group per' %></th>
      </tr>
      <tr>
        <td colspan="2">
          <%= select_tag 'report[group_by]', options_for_select([
              ['- no grouping -', ''],
              ['user', 'user'],
              ['team', 'team'],
              ['project', 'project'],
              ['task', 'task']]) %>
        </td>
        <td class="separator">&nbsp;</td>
        <td colspan="2">
          <%= select_tag 'report[group_per]', options_for_select([
              ['- no grouping -', ''],
              ['month', 'month'],
              ['week', 'week'],
              ['day', 'day']]) %>
        </td>
      </tr>
    </table>

    <div class="field box">
      save as favorite:
      <%= text_field_tag 'report[save_favorite]' %>
      <%= submit_tag "Save" %>
    </div>

    <div class="actions">
      <%= submit_tag "Generate" %>
    </div>
<% end %>